
nav {
  background: rgb(59, 65, 63);
  padding: 15px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}


.box{
  display: flex;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: row;
  justify-content: space-between;
}


.btn{ 
  font-family: 'nautilus_pompiliusregular';
  text-decoration: none;
    padding:1px;
    padding-bottom: 5px;
    padding-inline-end:1%;
    
    font-size: 4vh;
    color: #ffffff;
    background-color:transparent;
    border-radius: 6px;
    border: 2px solid #e75b1e;
}
.btn:hover{
  color: black;
    background-color:#e75b1e;
    
  border: 2px solid #111111;
}

.btn2{
  font-family: 'nautilus_pompiliusregular';
  text-decoration: none;
  padding: 8px;
  font-weight: 300;
  font-size: 5vh;
  color: #e75b1e;
  background-color:transparent;
  
  /* border-radius: 6px; */
  /* border: 2px solid #f3eeec; */
 
}

.btn2:hover{
  color: #e75b1e;
    /* background-color:#e75b1e; */
    /* text-decoration: none; */
    /* color: #e75b1e */
}
.btn3{
  width: 25%;  
  text-decoration:solid;
  padding: 2px;
  font-weight: 200;
  font-size: 17px;
  color: #6b6666;
  background-color:white;
  border-radius: 6px;
  border: 2px solid #6b6666;
 
 
  
}

.btn3:hover{
  color: #e75b1e;
    background-color:white;
    text-decoration: none;
    color:#f3eeec;
    
}