.container_12{
    display: flex;
  flex-direction: column;
  padding: 25px 50px;
}
.slider-wrapper {
  grid-column:unset;
  width: 100px;
  height: 20px;
  
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}
